.mainWrapper{
    width: 1280px;
    margin: 0 auto;
    font-family: "Arial MT";
    font-weight: 400;
}

/* ------------------Начало блока header---------------- */
header {
    height: 323px;
    color: #ffffff;
    font-size: 20px;
    background-color: #445162;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);

    display: flex;
}

header > .list {
    width: 60%;
}

.list > ul {
    margin: 50px 0 0 50px;
    padding: 0;
    list-style: none;
}

.list ul>li {
    position: relative;
    left: 20px;
}

.list ul>li::before {
    display: block;
    content: "✔";
    color: #ffffff;
    position: absolute;
    left: -20px;
}

.list > h1 {
    margin: 50px 0 0 50px;
    font-size: 60px;
}

.imgContainer > .img {
    margin: 50px;
    background-color: #ffffff;
}

/* ------------------Конец блока header------------------ */

/* ----------- Начало секции About your product---------- */

.about {
    height: 343px;
    color: #333333;
    font-size: 16px;
    line-height: 36px;

    display: flex;
}

.about > .text{
    margin: 50px;
    width: 60%;
}

.about > h2 {
    color: #445161;
    font-size: 30px;
    line-height: 24px;
}

.video {
    width: 430px;
    height: 245px;
    margin: 50px;
    background-color: #445161;
}
/*----------- Конец секции About your product------------- */

/* ----- Начало секции Dignity and pluses product--------- */
.dignity {
    width: 100%;
    height: 420px;
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
}

.dignity-title {
    widows: 100%;
    font-size: 30px;
    margin: 40px 0 24px 0;
    text-align: center;
    line-height: 1.2;
}

.dignity-list {
    list-style: none;
    padding: 0 0 0 46px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dignity-list-item {
    width: 45%;
    margin: 0 0 40px 0;
    position: relative;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -46px;
}
/*-------- Конец секции Dignity and pluses product--------- */

/* ----------- Начало секции Scrinshots ------------------- */
.scrin {
    height: 487px;
    background-color: #ffffff;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.scrin-title {
    text-align: center;
    margin: 50px 0 20px 0;
    flex-basis: 1280px;
    font-size: 30px;
}

.scrin-block {
    width: 43%;

    display: flex;
}

figcaption {
    margin-left: 20px;
}

.scrin-img {
    float: left;
    background-color: #445161;
}

/*-------------- Конец секции Scrinshots ------------------*/

/*--------------- Начало блока Reviews --------------------*/
.reviews {
    height: 424px;
    background-color: #f5f5f5;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-title {
    text-align: center;
    margin: 50px 0 20px 0;
    flex-basis: 1280px;
    font-size: 30px;
}

.reviews-text {
    width: 50%;
}

.reviews-img {
    float: left;
    border-radius: 50%;
    background-color: #445161;
}
/*--------------- Конец блока Reviews ---------------------*/

/*--------------- Начало секции Buy it now ----------------*/
.buy {
    height: 656px;
    padding: 0 145px;

    display: flex;
    align-items: flex-end;
}

.buy-title {
    text-align: center;

    flex-basis: 1280px;
    align-self: flex-start;
}

.container {
    width: 300px;
    color: #ffffff;
    margin: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #445161;
}

.buy-title-stanfart,
.buy-title-premium,
.buy-title-lux {
    text-align: center;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.buy-price {
    width: 99%;
    height: 71px;
    color: #445162;
    background-color: #ffffff;
    
    font-family: "Arial MT";
    font-size: 40px;
    font-weight: 400;    
    line-height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-list > li {
    list-style-position: inside;

    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

button {
    width: 260px;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
    background-color: #ffffff;

    color: #445161;
    font-family: "Arial - Bold MT";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.buy-standart{
    height: 306px;
}

.buy-premium{
    height: 404px;
}

.buy-lux{
    height: 499px;
}
/*--------------- Конец секции Buy it now -----------------*/

/*--------------- Начало секции Contacts ------------------*/
.contacts {

}
/*--------------- Конец секции Contacts -------------------*/